@use "../foundation/variables" as v;

.l-footer{
	position: relative;
	width: 100%;
	height: 300px;
	background-color: v.$shadow-cBlue;
	padding: 20px 5%;
}

.l-footer__logo{
	width: 18%;
}

.l-footer__cv{
	display: inline-block;
	position: absolute;
	top:20px;
	right: 5%;
	width: 10%;
}

.l-footer__nav{
	position: absolute;
	bottom: 20px;
	left: 5%;
}


.l-footer__menu{
	display: flex;
	gap: 10px;
	&__item{
		font-size:3.2rem;
		font-family: v.$title-font;
	}
	&__item + .l-footer__menu__item::before{
		content:'|';
		margin-right: 10px;
	}
}

.l-footer__copyright{
	position: absolute;
	right: 5%;
	bottom: 20px;
}
