@use "../foundation/variables" as v;

.p-career__grid-table {
  display: grid;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: 260px 3fr;
  grid-gap: 10px 20px;
}

.p-career{
	&__date{
		position: relative;
		display: flex;
		align-items: flex-start;
		background-color: v.$main-secondary;

	}
	&__date__text{
		padding: 20px 5%;
		font-size:2.4rem;
	}
	&__date::before{
		content: '';
		display: block;
		background-image: url(../images/career/circle.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-color: v.$color-white;
		width: 30px;
		height: 100%;
		padding-left: 5px;
		padding-right: 5px;
		transform: translateX(-40px);
	}
	&__date::after{
		content:'';
		display: block;
		width: 15px;
		height: 120%;
		border-left: 10px solid v.$accent-primary;
		position: absolute;
		top: 0;left: -30px;
	}
	&__desc	{
		background-color: v.$main-secondary;
		padding: 20px 5%;
	}
	&__desc__text{
		font-size:2.4rem;
	}
}
